/* ---Common Styles--- */
body {
    font-family: "Fira Sans";
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin: auto;
    background-color: #F5F5F5;
}

header, main {
    width: 1280px;
    margin: auto;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    color: rgb(14, 14, 14);
    margin: 0px 0px 32px 0px;
}

button {
    cursor: pointer;
}

.btn-animation {
    transition: all 0.3s ease;
}

.btn-animation:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}


/* Header Section Styles */
nav {
    display: flex;
    justify-content: space-between;
    padding: 24px 0px;
}

nav p {
    font-size: 32px;
    font-weight: bold;
}

nav p:hover {
    color: #006A50;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav button {
    color: #006A50;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #006A50;
    border-radius: 8px;
    padding: 15px 30px;
}

nav button:hover {
    background-color: #006A50;
    color: #FFFFFF;
}


/* Hero Section Styles */
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C6E4D6;
    padding: 80px 100px;
    border-radius: 24px;
    margin: 20px 0px 80px 0px;
}

.hero-content p {
    font-size: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.50);
    margin: 0;
}

.hero-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: 16px 0px 24px 0px;
}

.hero-content button {
    color: #FFFFFF;
    background-color: #006A50;
    border: none;
    border-radius: 8px;
    padding: 17px 34px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 24px;
}

.hero-section img:hover {
    transform: scale(1.1);
    transition: all 2s ease;
}

/* ---Main Section Styles--- */


/* Pillar Section Styles */
.pillar-cards  {
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.pillar-card {
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
}

.pillar-card:hover {
    box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 38%);
    transition: all 300ms ease;
}

.pillar-card h3 {
    font-size: 20px;
    font-weight: 700;
    margin: 24px 0px 0px 0px;
    color: rgba(14, 14, 14, 0.8);
}

.pillar-card p {
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    margin: 12px 0px 0px 0px;
    line-height: 24px;
}

.pillar-card img {
    height: 64px;
    width: 64px;
}

/* Vision Section Styles */
.visions  {
    margin-bottom: 80px;
}

.visions p {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    margin: 12px 0px 32px 0px;
}
.vision-cards  {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    gap: 24px;
}

.vision-card {
    border-radius: 16px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    width: 33%;
}

.vision-card img {
    height: 64px;
    width: 64px;
}

.digital {    
    background-color: rgba(84, 144, 245, 0.2);
}

.green {    
    background-color: rgb(198, 228, 214);
}

.modern {    
    background-color: rgb(247, 235, 207);
}

.vision-card h3 {
    font-size: 20px;
    font-weight: 700;
    margin: 24px 0px 0px 0px;
    color: rgba(14, 14, 14, 0.8);
}

.vision-card p {
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    margin: 12px 0px 0px 0px;
}

.vision-card button {
    color: #ffffff;
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
    margin: 48px 0px 0px 0px;
    font-weight: 600;
}

.digital button{    
    background-color: #5490F5;
}

.digital button:hover{ 
    background-color: transparent;
    border: 1px solid #5490F5;
    color: #5490F5;
    padding: 10px 19px;
    border-radius: 8px;
    margin: 48px 0px 0px 0px;
    font-weight: 600;
}

.green button{    
    background-color: #09A15C;
}

.green button:hover{ 
    background-color: transparent;
    border: 1px solid #09A15C;
    color: #09A15C;
    padding: 10px 19px;
    border-radius: 8px;
    margin: 48px 0px 0px 0px;
    font-weight: 600;
}

.modern button{    
    background-color: #FFC239;
}

.modern button:hover{ 
    background-color: transparent;
    border: 1px solid #FFC239;
    color: #FFC239;
    padding: 10px 19px;
    border-radius: 8px;
    margin: 48px 0px 0px 0px;
    font-weight: 600;
}

.quote {
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 24px 24px 24px 24px;
}

.quote p{
    color: rgba(14, 14, 14, 0.8);
    margin: 0px 0px 0px 0px;
    background-image: url('assets/quote-bg.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding: 24px 0px 0px 0px;
}

.quote h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 12px 0px 0px 0px;
    color: rgba(14, 14, 14, 0.8);
}

.quote h4 {
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.6);
    margin: 4px 0px 0px 0px;
}


/* Opinion Section Styles */
.opinion-section {
    margin-bottom: 80px;
}

.questions-opinions {
    padding: 32px;
    background-color: #ffffff;
    border-radius: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

table thead tr {
    background-color: rgb(198, 228, 214);
    border: 1px solid rgba(14, 14, 14, 0.15);
}

table thead tr th {
    padding: 24px;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}

th:nth-child(even) {
    text-align: center;
}

table tbody tr {
    background-color: #ffffff;
}

table tbody tr td {
    padding: 24px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    border: 1px solid rgba(14, 14, 14, 0.15);
}

td:nth-child(even) {
    text-align: center;
}

table tbody tr td p {
    padding: 15px 20px;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    border: 1px solid rgb(14, 14, 14);
    border-radius: 4px;
    background: rgb(198, 228, 214);
    cursor: pointer;
}


/* News Section Styles */
.news-section  {
    margin-bottom: 80px;
}

.news-section p {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    margin: 12px 0px 32px 0px;
}

.news1 {
    padding: 48px;
    background-color: #ffffff;
    border-radius: 24px;
    display: flex;
    gap: 32px;
    margin: 0px 0px 20px 0px;
}

.featured-img {
    border-radius: 24px;
}

.news-content h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    color: rgba(14, 14, 14, 0.8);
    margin: 12px 0px;
}

.logo-img {
    margin: 12px 0px;
}

.news-content .date-time {
    display: flex;
}

.news-content .date-time p {
    margin: 0px 12px 0px 0px;
}

.news-content .date-time p:nth-child(even) {
    margin: 0px 0px 0px 12px;
}

.news-content p {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    margin: 12px 0px;
}

.news-content button {
    padding: 13px 26px 13px 26px;
    margin: 20px 0px 12px 0px;
    border: 0px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}

.news2 {
    padding: 48px;
    background-color: #ffffff;
    border-radius: 24px;
    display: flex;
    gap: 32px;
    margin: 20px 0px 20px 0px;
}

.news3 {
    padding: 48px;
    background-color: #ffffff;
    border-radius: 24px;
    display: flex;
    gap: 32px;
    margin: 20px 0px 0px 0px;
}


/* Donation Section Styles */
.donation-section  {
    margin-bottom: 80px;
    text-align: center;
}

.donation-section p {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    line-height: 24px;
    margin: 12px 0px 32px 0px;
}

.donation-amount {
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
    align-items: center;
}

.donation-amount p:hover {
    background-color: rgb(198, 228, 214);;
}

.donation-amount p {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    padding: 40px;
    margin: 0px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.donation-amount .active {
    background-color: rgb(198, 228, 214);
}

.donation-section input {
    width: 85%;
    padding: 20px 40px;
    margin:  32px auto;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.3);
    text-align: center;
}
.donation-section button {
    padding: 17px 34px 17px 34px;
    border: 1px solid rgba(14, 14, 14, 0.1);
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}


/* Newsletter Section Styles */
.newsletter-section {
    margin-bottom: 80px;
    padding: 80px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    text-align: center;
}

.newsletter {
    margin: auto;
    width: 750px;
}

.newsletter input {
    width: 65%;
    padding: 18px 40px 18px 40px;
    margin:  32px auto;
    border: 1px solid rgba(14, 14, 14, 0.15);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.3);
    border-radius: 8px 0px 0px 8px;
    background: rgb(255, 255, 255);
    text-align: left;
}

.newsletter button {
    padding: 20px 34px;
    border: 0px;
    border-radius: 0px 8px 8px 0px;
    background: rgba(0, 106, 80, 0.744);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    margin: 0px 0px 0px -5px;
}

.newsletter button:hover {
    background: rgb(0, 106, 80);
}


/* Footer Section Styles */
footer {
    background-color: #ffffff;
    padding: 50px 0px;
    text-align: center;
}

footer h3 {
    color: rgb(14, 14, 14);
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

footer h3:hover {
    color: #006A50;
}

hr {
    width: 60%;
    margin: 32px auto;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-icons .fab {
    height: 24px;
    width: 24px;
}